*{
    margin: 0;
    padding: 0;
}
body,html{
    overflow: hidden;
}
body{
    background-image: url("images/szabo-viktor-28ZbKOWiZfs-unsplash.jpg");
}
#town{
    height: 30px;
    
}
#search{
    background: transparent;
    border: transparent;
}
#search img{
    width: 20px;
    height: 20px;

}
#title{
    width: 100%;
    color: black;
    text-shadow: 10px 5px 10px black;
    margin:5% -5%;
}
#app{
    width:25%;
    height:50%;
    position: absolute;
    top: 40%;
    left:60%;
    transform: translate(-50%,-50%);
    background-image:transparent;
    border-radius: 10px;
    border-style: dashed;
    border-color: skyblue;
}
#form{
    width: 100%;
    margin: 5% 25%;
}
#weatherdata{
    margin:-10% 35%;
    color: wheat;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#temp{
    font-size: 2rem;
}
#name{
    font-size: 1.5rem;
}
#wind{
    float: left;
}
#container{
    margin: 10% 30%;
    margin-top: -5%;
   
}
.humidity{
    margin: 5% -0.05%;

}
.wind{
    margin: 5% 10%;
    width: 100%;
}
#below{
    margin: 10% 1%;
    display:inline-flex;
    font-size:20px ;
}
#town{
    border-radius: 5px solid;
    background: transparent;
    border-color: black;
 
}
#town::placeholder{
    color:black;
    width: 100%;
    
}
#show{
    width: 25%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    background-image:transparent;
    border-radius: 10px;
    border-style: dashed;
    border-color: skyblue;

}
#weatherdata1{
    margin: 0 35%;
    color: wheat;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.humidity1{
    margin: 5% -0.05%;

}
.wind1{
    margin: 5% 10%;
    width: 100%;
}
#below1{
    margin: 5% 1%;
    font-size:20px ;
}
#below1{
    display:inline-flex;
    font-size:20px ;
}
#container1{
    margin: -5% 5%;
}
#title1{
    width: 100%;
    color: black;
    text-shadow: 10px 5px 10px black;
    margin: 5% 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width:600px){
    *{
        margin: 0;
        padding: 0;
    }
    body,html{
        overflow: hidden;
    }
    #app{
        width: 80%;
        height: 5%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image:transparent;
        border-radius: 10px;
        border-style: dashed;
        border-color: skyblue;
    
    }
    #title{
        float: left;
        font-size: 20px;
        margin: 8% -35%;
    }
    .wind{
        margin: 5% 10%;
        width: 100%;
    }
    #town{
        font-size: 10px;
    }
    #form{
        display:inline-flex;
        margin: -3% 30%;
    }
    #form input{
        margin: 5% 10%;
        float: right;

    
        
    }
    #form button{
        position: absolute;
        margin: 5% 50%;
    }
    #show{
        width: 80%;
        height: 5%;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image:transparent;
        border-radius: 10px;
        border-style: dashed;
        border-color: skyblue;
    
    }
    #title1{
        font-size: 18px;
        margin: 5% 0.5%;
    }
    
    
   
 

}
