body,html{
    flex-wrap: wrap;
}
#show{
    border-radius: 10px;
}
#show1{
    border-radius: 10px;
}
#town{
    width: 300px;
   margin-left: 35%;
}

/* Default styles */

/* Media query for screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
  /* CSS rules for extra small devices */
  #town{
    width: 200px;
   margin-left: 10%;
}

}

/* Media query for screens between 576px and 767.98px (small devices) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* CSS rules for small devices */
}

/* Media query for screens between 768px and 991.98px (medium devices) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules for medium devices */
}

/* Media query for screens between 992px and 1199.98px (large devices) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS rules for large devices */
}

/* Media query for screens larger than or equal to 1200px (extra large devices) */
@media (min-width: 1200px) {
  /* CSS rules for extra large devices */
}
